<launch>
  <!-- Load parameters -->
  <rosparam command="load" file="$(find f1tenth_racing)/config/params.yaml" />
  
  <!-- Launch the controller node -->
  <node pkg="f1tenth_racing" type="pure_pursuit_controller.py" name="pure_pursuit_controller" output="screen">
    <param name="odom_topic" value="$(arg odom_topic)" />
    <param name="command_topic" value="$(arg command_topic)" />
  </node>
</launch>